# Android
/local.properties
/captures
.externalNativeBuild
.navigation
*.keystore
*.jks
*.log

# Gradle
.gradle
build

# OS File
*.swp
*.swo
*.bak
*.DS_Store

# Intellij
.idea
*.iml
*.ipr
*.iws

moviedb/release/moviedb-release.apk

moviedb/release/output.json
