<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.humanid.filmreview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.humanid.filmreview.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.humanid.filmreview.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:name="com.humanid.filmreview.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.humanid.sdk.applicationId"
            android:value="@string/human_id_appid"/>
        <meta-data
            android:name="com.humanid.sdk.applicationSecret"
            android:value="@string/human_id_secret"/>
        <meta-data
            android:name="com.humanid.sdk.applicationIcon"
            android:resource="@drawable/app_icon"/>
        <meta-data
            android:name="com.humanid.sdk.applicationName"
            android:value="@string/app_name"/>

        <activity android:name="com.humanid.filmreview.activity.FavoriteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.humanid.filmreview.activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.humanid.filmreview.activity.ReviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.humanid.filmreview.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.humanid.filmreview.activity.MovieDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.humanid.filmreview.activity.MainActivity"
            android:theme="@style/AppTheme.TranslucentStatusBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.humanid.filmreview.activity.SettingActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="com.humanid.filmreview.provider.MoviesProvider"
            android:authorities="com.humanid.filmreview"
            android:exported="true"
            android:readPermission="com.humanid.filmreview.READ_DATABASE"
            android:writePermission="com.humanid.filmreview.WRITE_DATABASE" />

        <receiver
            android:name="com.humanid.filmreview.service.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.humanid.filmreview.service.UpcomingMovieServices"
            android:enabled="true" />
        <service
            android:name="com.humanid.filmreview.service.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name="com.humanid.filmreview.widget.StackWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_widget_info" />
        </receiver>
    </application>

</manifest>