<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humanid.core">

    <application>

        <provider
            android:name="com.humanid.provider.HumanIDInitProvider"
            android:authorities="${applicationId}.humanidinitprovider"
            android:exported="false"
            android:initOrder="100"/>

    </application>

</manifest>
